<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <arg name="map_file" default="$(find turtlebot3_navigation)/maps/map.yaml"/>
  <arg name="move_forward_only" default="false"/>
  
  <!-- Laser frame -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="scan_frame_broadcaster" args="-0.032 0 0.182 0 0 0 base_footprint base_scan"/>
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_frame_broadcaster" args="0 0 0 0 0 0 base_footprint base_link"/> -->

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <remap from="scan" to="scan"/>
    <param name="initial_pose_x"  value="-2.0"/>
    <param name="initial_pose_y"  value="-0.5"/> 
    <param name="initial_pose_a"  value="0.0"/>
    <param name="update_min_d"    value="0.10"/>
    <param name="update_min_a"    value="0.10"/>
    <param name="odom_frame_id"   value="odom"/>
    <param name="base_frame_id"   value="base_footprint"/>
    <param name="global_frame_id" value="map"/>
    <param name="tf_broadcast"   value="true"/>
  </node>

  <!-- move_base -->
  <!-- <include file="$(find turtlebot3_navigation)/launch/move_base.launch"/> -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <!--<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/> 
    <rosparam file="$(find turtlebot3_navigation)/param_con/teb_local_planner.yaml" command="load" />-->

    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find turtlebot3_navigation)/param_con/dwa_local_planner.yaml" command="load" />
    
    <rosparam file="$(find turtlebot3_navigation)/param_con/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param_con/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param_con/local_costmap.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param_con/global_costmap.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param_con/move_base.yaml" command="load" />
    
    <remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="odom"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
  </node>
   
  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/nav_launch.rviz"/>
  </group>
</launch>

