<launch>
  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
    <rosparam file="$(find turtlebot3_navigation)/param_neo/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param_neo/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param_neo/costmap_local.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param_neo/costmap_global.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param_neo/planner_local_teb.yaml" command="load" />
  </node>
</launch>

